.fieldDetails {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch; 
}

.fieldDetails h2 {
  text-align: center;
}

.fieldDetails img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin: 1rem 0;
}

.calendarButton {
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.calendarButton:hover {
  color: white;
}


.timeslotsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-primary);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--color-primary-hover);
}

button.cancel {
  background-color: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

button.cancel:hover {
  background-color: var(--color-cancel-hover);
}

.flexRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flexRow h3 {
  flex: 0 0 85%;
}

.calendarButton:focus,
.calendarButton:active {
  outline: none;
  background: none;
  color: var(--color-primary);
}

.calendarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
