.container {
  max-width: 300px;
  margin: 1rem auto;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}

.container:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.details {
    margin-bottom: 0.75rem;
    color: var(--color-primary);
    font-weight: 600;
}

.details span {
    font-weight: 400;
    color: black;
}

.delete {
    background-color: #b00020;
}

.delete:hover {
    transform: translateY(-1px);
    background-color: #b00020;
}