.controls {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.reservationsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}