:root {
  --color-bg-light: #f9fafb;
  --color-bg-dark: #121212;
  --color-text-light: #242424;
  --color-text-dark: #e0e0e0;
  --color-primary: #157a21;
  --color-primary-hover: #0f5c19;
  --color-cancel-hover: #e0e0e0;   
  --color-delete: #b00020; 
  --color-error: #e63946;

  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size-base: 16px;
  --border-radius: 6px;
  --transition-speed: 0.3s;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--color-bg-light);
  color: var(--color-text-light);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.react-calendar {
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 10px;
}

.react-calendar__tile {
  color: black;
}

.react-calendar__navigation {
  color: black;
}

.react-calendar__navigation button {
  color: black;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color var(--transition-speed);
}

a:hover,
a:focus {
  color: var(--color-primary-hover);
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--color-primary);
  color: white;
  padding: 0.6em 1.2em;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color var(--transition-speed);
}

button[type="button"]:hover {
  background-color: #e0e0e0; 
  color: #157a21;            
}

button.delete:hover {
  background-color: #d9534f; 
  color: white;
  border-color: #d9534f;
}

button:hover,
button:focus {
  background-color: var(--color-primary-hover);
  outline: none;
}

input, select, textarea {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  transition: border-color var(--transition-speed);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(58, 134, 255, 0.3);
}

.error-message {
  color: var(--color-error);
  font-size: 0.875rem;
  margin-top: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
